<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: conteudo-head(#{titulo.cadastro_paciente})}"/>
<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho(#{titulo.cadastro_paciente},${autenticado})}"></header>
<div th:replace="~{fragments/idioma :: idioma('atualizar-paciente')}" />

<div class="container">
    <h1 th:text="#{titulo.atualizar_paciente}">Atualizar Cadastro de Paciente</h1>
    <div id="fragmentContainer">
        <main class="container" th:fragment="conteudo-paciente(pessoa)">
            <form th:object="${usuario}" th:action="@{/atualizar/paciente}" method="post">
                <div class="form-row">
                    <!-- Nome -->
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" th:field="*{pessoa.nome}" th:errorclass="is-invalid" required>
                    </div>
                    <!-- Telefone -->
                    <div class="form-group">
                        <label for="telefone" th:text="#{cadastro.telefone}"></label>
                        <input type="text" id="telefone" name="telefone" th:field="*{pessoa.telefone}" th:errorclass="is-invalid">
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" th:field="*{pessoa.email}" th:errorclass="is-invalid" required>
                    </div>
                </div>

                <div class="form-row short-row">
                    <!-- Senha -->
                    <div class="form-group">
                        <label for="senha">Nova Senha (opcional):</label>
                        <input type="password" id="senha" name="senha" th:field="*{senha}" th:errorclass="is-invalid">
                    </div>

                    <!-- Confirmação de Senha -->
                    <div class="form-group">
                        <label for="confirmarSenha">Confirmar Senha:</label>
                        <input type="password" id="confirmarSenha" name="confirmarSenha">
                    </div>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <button type="submit">Atualizar</button>
            </form>
        </main>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const senha = document.getElementById('senha');
        const confirmarSenha = document.getElementById('confirmarSenha');

        form.addEventListener('submit', function (event) {
            if (senha.value !== '' && senha.value !== confirmarSenha.value) {
                event.preventDefault(); // Impede o envio do formulário
                alert('As senhas não coincidem. Por favor, verifique.');
            }
        });
    });
</script>
</body>
</html>
