<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho('Atualizar Cadastro de Paciente', true)}"></header>

<div class="container">
    <h1>Atualizar Cadastro de Paciente</h1>
    <div id="fragmentContainer">
        <main class="container" th:fragment="conteudo-paciente(pessoa)">
            <form th:object="${usuario}" th:action="@{/atualizar/paciente/{id}(id=${usuario.id})}" method="post">
                <div class="form-row">
                    <!-- Nome -->
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" th:field="*{pessoa.nome}" th:errorclass="is-invalid" required>
                    </div>

                    <!-- CPF -->
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" th:field="*{pessoa.cpf}" th:errorclass="is-invalid" required>
                    </div>
                </div>

                <div class="form-row">
                    <!-- Data de Nascimento -->
                    <div class="form-group">
                        <label for="nascimento">Data de Nascimento:</label>
                        <input type="date" id="nascimento" name="nascimento" th:field="*{pessoa.nascimento}" th:errorclass="is-invalid" required>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" th:field="*{pessoa.email}" th:errorclass="is-invalid" required>
                    </div>
                </div>

                <div class="form-row short-row">
                    <!-- Usuário -->
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" id="username" name="username" th:field="*{username}" th:errorclass="is-invalid" required>
                    </div>

                    <!-- Senha -->
                    <div class="form-group">
                        <label for="senha">Nova Senha (opcional):</label>
                        <input type="password" id="senha" name="senha" th:field="*{senha}" th:errorclass="is-invalid">
                    </div>

                    <!-- Confirmação de Senha -->
                    <div class="form-group">
                        <label for="confirmarSenha">Confirmar Senha:</label>
                        <input type="password" id="confirmarSenha" name="confirmarSenha">
                    </div>
                </div>

                <button type="submit">Atualizar</button>
            </form>
        </main>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const senha = document.getElementById('senha');
        const confirmarSenha = document.getElementById('confirmarSenha');

        form.addEventListener('submit', function (event) {
            if (senha.value !== '' && senha.value !== confirmarSenha.value) {
                event.preventDefault(); // Impede o envio do formulário
                alert('As senhas não coincidem. Por favor, verifique.');
            }
        });
    });
</script>
</body>
</html>
