<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho('Escolha o cadastro')}"></header>

<body>
<div class="container">
    <h2>Escolha o tipo de cadastro</h2>

    <!-- Botão para Cadastro de paciente -->
    <form action="/cadastro-paciente" method="get">
        <button type="submit" class="btn btn-primary">Cadastro de Paciente</button>
    </form>

    <!-- Botão para Cadastro de médico -->
    <form action="/cadastro-medico" method="get">
        <button type="submit" class="btn btn-primary">Cadastro de Médico</button>
    </form>

    <!-- Mensagem de erro, caso o acesso ao Cadastro de médico seja negado -->
    <div th:if="${errorMessage != null}">
        <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>
