<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: conteudo-head(#{titulo.cadastrar})}"/>


<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho(#{titulo.cadastrar},${autenticado})}"></header>
<div th:replace="~{fragments/idioma :: idioma('cadastro')}" />

<main class="container">
    <h2 th:text="#{titulo.escolha_cadastro}"></h2>

    <!-- Botão para Cadastro de paciente -->
    <form action="/cadastro-paciente" method="get">
        <button type="submit" class="btn btn-primary" th:text="#{titulo.cadastro_paciente}"></button>
    </form>

    <!-- Botão para Cadastro de médico -->
    <form action="/adicionar-exame" method="get">
        <button type="submit" class="btn btn-primary"th:text="#{titulo.exame}"></button>
    </form>

    <!-- Mensagem de erro, caso o acesso ao Cadastro de médico seja negado -->
    <div th:if="${errorMessage != null}">
        <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
</main>
<footer th:replace="~{fragments/rodape :: conteudo-rodape()}"></footer>

</body>
</html>
