<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: conteudo-head(#{titulo.tela_inicial})}"/>
<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho(#{titulo.bem_vindo},${autenticado})}"></header>
<div th:replace="~{fragments/idioma :: idioma('home')}" />

<main>
    <section class="card container">
        <h2 th:text="#{sobre_proposta}"></h2>
        <p th:text="#{texto.proposta}"></p>
    </section>
    <p th:text="${resposta}"></p>
</main>
<footer th:replace="~{fragments/rodape :: conteudo-rodape()}"></footer>
</body>
</html>
