<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho('Bem-vindo ao Healy')}"></header>
<main>
    <section class="card container">
        <h2>Sobre Nossa Proposta</h2>
        <p>Nosso sistema utiliza Inteligência Artificial para avaliar a probabilidade de desenvolvimento de doenças com base em exames recentes. Alertamos os médicos sobre as chances de desenvolvimento de patologias, ajudando a antecipar cuidados e tratamentos.</p>
    </section>
    <p th:text="${resposta}"> TESTE </p>
</main>
<footer th:replace="~{fragments/rodape :: conteudo-rodape()}"></footer>
</body>
</html>
