<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: conteudo-head(#{link.entrar})}"/>

<body>
<header th:replace="~{fragments/cabecalho :: conteudo-cabecalho(#{link.entrar},false)}"/>
<div th:replace="~{fragments/idioma :: idioma('login')}" />

<main class="container">
    <form th:action="@{/login}" method="post">

        <span th:text="#{usuario.tela.login}">Usuário:</span> <input class="form-control" type="text" id="username"
                                                                     name="username"><br>
        <span th:text="#{senha.tela.login}">Senha:</span> <input class="form-control"
                                                                 type="password" id="password" name="password"><br>

        <div th:if="${param.erro}">
            <p style="color: red"><span th:text="#{msg_login_erro}">Usuário ou senha incorretos</span></p>
        </div>

        <div th:if="${param.logout}">
            <p style="color: green;"><span th:text="#{msg_logout_sucesso}"> Você saiu com sucesso</span></p>
        </div>

        <button type="submit"><span th:text="#{botao.tela.login}">Logar</span></button>


    </form>
</main>

<footer th:replace="~{fragments/rodape :: conteudo-rodape()}"/>
</body>
</html>
